<section class="skills section" id="skills">
  <h2 class="section-title">Skills</h2>

  <div class="skills__container bd-grid">          
      <div>
          <h2 class="skills__subtitle">Profesional Skills</h2>
          <p class="skills__text">A Ambitious Software Developer Engineer, with 1 year of experience in building scalable, reliable and high-performance systems.</p>
          <div class="skills__data" *ngFor="let skill of skills">
              <div class="skills__names">
                  <i class='bx bxl-html5 skills__icon'></i>
                  <span class="skills__name">{{skill.name}}</span>
              </div>
              <div class="skills__bar skills__html">

              </div>
              <div>
                  <span class="skills__percentage">{{skill.rate}}</span>
              </div>
          </div>
      </div> 
      
      <div>              
          <img src="assets/img/work3.jpg" alt="" class="skills__img">
      </div>
  </div>
</section>