<section class="about section " id="about">
  <h2 class="section-title">About</h2>

  <div class="about__container bd-grid">
      <div class="about__img">
          <img src="assets/img/about.jpg" alt="">
      </div>
      
      <div>
          <h2 class="about__subtitle">I'am Shivani</h2>
          <p class="about__text">A software developer at Daffodil Software. I likes to share and enhance my knowledge by writing articles, making cool videos, and creating awesome memes.</p>           
      </div>                                   
  </div>
</section>
