@import "../../assets/css/style.css";

.bd-grid{
    font-family: 'arial';
    height : 70px !important;
    background-color: transparent;
}


  @media screen and (min-width: 768px){

  .home__img{
 height:20px ! important;
  }
  .home__title{
    font-size:20px !important;
  }
}