
        <!--===== HEADER =====-->
        <header class="l-header">
          <nav class="nav bd-grid">
              <div>
                  <a href="#" class="nav__logo">Shivani's Portfolio</a>
              </div>

              <div class="nav__menu" id="nav-menu">
                  <ul class="nav__list">
                      <li class="nav__item" *ngFor="let item of navItem"><a href={{item.link}} class="nav__link">{{item.name}}</a></li>
                  </ul>
              </div>

              <div class="nav__toggle" id="nav-toggle">
                  <i class='bx bx-menu'></i>
              </div>
          </nav>
      </header>
