<app-header></app-header>
<main class="l-main">
    <app-home></app-home>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-work></app-work>
   <app-contact></app-contact>
</main>
        <!--===== FOOTER =====-->
        <!-- <footer class="footer">
            <p class="footer__title">Marlon</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <p>&#169; 2020 copyright all right reserved</p>
        </footer>
         -->